body {
    background-image:url(https://imgix.gizmodo.com.au/content/uploads/sites/2/2016/11/05/astzpv7wdnxgwlzzlfwc.gif?ar=16%3A9&auto=format&fit=crop&q=65&w=720&nrs=40&fm=gif);
    background-size:100%;
    background-repeat:no-repeat; 
}
.nav {
    text-align: center;
    font-size: 20px;
    background-color:gray;
    padding-left: 0px;
    padding-right:0px;
    word-spacing: 50px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 50%;
}
.main-content {
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:aliceblue;
    padding-top: 80px;
    padding-bottom: 30px;
}
.para {
    color:aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 200px;
}
a{
    text-decoration:none;
    color:white;
}
.nav{ 
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color: aquamarine;
    text-decoration: underline
    ;
}
